extends layout

block content
  h1.text-center Employee Management
  .row.introduction
    .col-sm-8.col-sm-offset-2
      p The Employees Management System consists of various features allowing you to perform general human resource management tasks such as employee details,
        |accounts etc. Any information needed is available at the click of a button with comprehensive reporting features.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam laboriosam ex, voluptates consequuntur quidem magni saepe deleniti molestias, pariatur fugiat aspernatur amet enim? Iste deserunt maxime blanditiis est hic reiciendis.