extends layout

block content
  h4.text-center.text-uppercase=title
  .row
    .col-sm-6.col-sm-offset-3
      form(action='/api/account/create',method='POST')
          .row
            .col-sm-12
              input.form-control(type='text', name='accountName', placeholder='Account Name')
          .row     
            .col-sm-12
              input.form-control(type='text', name='accountHead', placeholder='Account Head Name')
          .row
            .col-sm-4
              button(type="submit") ADD
  if errors 
    ul.errors
      for error in errors
        li!= error.msg